# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.IA-Final-Project.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProject\IA-Final-Project\.idea\.idea.IA-Final-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
